<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Serie en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
    </form> 
    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Serie</label>
        <input type="text" class="form-control" [(ngModel)]="nomSerie" name="nomSerie" class="form-control">
        <button type="submit" (click)="rechercherProds()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
        </form> -->
         <!-- <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Serie en tapant</label>
            <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
            </div>
        </form>  -->
        
    <div class="card shadow mb-4">
        <div class="card-body">
          <table class="table table-striped">
             <thead>
                 <tr>
                    <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Création</th>  <th>Genre</th> 
                 </tr>
             </thead>
             <tbody *ngFor="let serie of series  | filter:searchTerm" >
                     <tr >
                        <td>{{serie.idSerie}}</td>
                        <td>{{serie.nomSerie}}</td>
                        <td>{{serie.prixSerie}}</td>
                        <td>{{serie.dateCreation | date:'dd/MM/yyyy'}}</td>
                         <td>{{serie.genre?.nomGen}}</td>
                        <td><a class="btn btn-danger" (click)="supprimerSerie(serie)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateSerie',serie.idSerie]">Modifier</a></td>
                     </tr>
             </tbody>
         </table>
         </div>
    </div>
</div>
